/* $Id$ */

body {
	font-color: black;
	background-color: white;
	font-family: sans-serif;
}

.correct {
	background: #33FF66;
}
.incorrect {
	background: #FF6666;
}
.neutral {
	background: white;
}
td {
	text-align: right;	
}
#lastmod {
	color:	blue;
	text-align: right;
	font-size: x-small;
}
.teamid {
	font-family: monospace;
}
