/* $Id$ */

.correct {
	background: #CCFF99;
}
.incorrect {
	background: #FF6666;
}
.neutral {
	background: white;
}
td {
	text-align: right;	
}
#lastmod {
	color:	blue;
	text-align: right;
	font-family: sans-serif;
	font-size: x-small;
}
.teamid {
	font-family: monospace;
}
