{% extends '@DOMjudgeMain/base.html.twig' %}

{% block menu %}
	<nav>
		<div id="menutop">
			<a href="{{ path('team_home') }}" accesskey="o"><span class="octicon octicon-home"></span> overview</a>
			<a href="#" accesskey="t"><span class="octicon octicon-book"></span> problems</a>
			<a href="#" accesskey="b"><span class="octicon octicon-list-ordered"></span> scoreboard</a>
			{% if is_granted('ROLE_JURY') or is_granted('ROLE_BALLOON') %}
				<a target="_top" href="{{ path('jury_home') }}" accesskey="j"><span class="octicon octicon-arrow-right"></span> jury</a>
			{% endif %}
			{% if app.user is null %}
				<a href="{{ path('login') }}" accesskey="l"><span class="octicon octicon-sign-in"></span> login</a>
			{% endif %}
		</div>
	</nav>
{% endblock %}

{% set team = app.user.team %}
{% set activeContests = contests.activeContests(null, false, team) %}
{% set currentContest = contests.currentContest(false, team) %}
