version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 0
    versioning-strategy: increase-if-necessary
    allow:
        - dependency-type: "all"
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 0
    versioning-strategy: lockfile-only
    allow:
        - dependency-type: "all"
    target-branch: "8.3"
