<footer class="mt-auto w-100 px-3">
    <hr>
    <p>
        <a href="{{ path('public_authors') }}">Kdo za Pardubickým hackerem stojí?</a>
        Komunita studentů, absolventů a učitelů <span class="d-inline-block">DELTA - Střední</span> škola informatiky a
        ekonomie, Pardubice. Projekt vznikl za podpory <span class="d-inline-block">MŠMT ČR a NPI ČR</span>.
    </p>
</footer>
