{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if can_change_password %}
        <a class="btn btn-info btn-sm me-2" href="{{ path('profile_index') }}">
            <i class="fas fa-key"></i> Change password
        </a>
    {% endif %}
    <a class="btn btn-info btn-sm me-2" href="{{ path('logout') }}"
    {% if confirmLogout is defined %}
        onclick="return confirmLogout();"
    {% endif %}>
        <i class="fas fa-sign-out-alt"></i> Logout
    </a>
{% else %}
    {% if allow_registration %}
        <a class="btn btn-info btn-sm justify-content-center me-2" href="{{ path('register') }}">
            <i class="fas fa-user-plus"></i> Register
        </a>
    {% endif %}
    <a class="btn btn-info btn-sm me-2" href="{{ path('login') }}">
        <i class="fas fa-sign-in-alt"></i> Login
    </a>
{% endif %}
