{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a class="dropdown-item" href="{{ path('logout') }}"
    {% if confirmLogout is defined %}
        onclick="return confirmLogout();"
    {% endif %}>
        <i class="fas fa-sign-out-alt fa-fw"></i> Logout
    </a>
{% else %}
    {% if allow_registration %}
        <a class="dropdown-item" href="{{ path('register') }}">
            <i class="fas fa-user-plus fa-fw"></i> Register
        </a>
    {% endif %}
    <a class="dropdown-item" href="{{ path('login') }}">
        <i class="fas fa-sign-in-alt fa-fw"></i> Login
    </a>
{% endif %}
