{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a class="btn btn-info btn-sm justify-content-center" href="{{ path('logout') }}"
    {% if confirmLogout is defined %}
        onclick="return confirmLogout();"
    {% endif %}>
        <i class="fas fa-sign-out-alt"></i> Logout
    </a>
{% else %}
    <a class="btn btn-info btn-sm justify-content-center" href="{{ path('login') }}">
        <i class="fas fa-sign-in-alt"></i> Login
    </a>
{% endif %}
