{# problem \App\Entity\ContestProblem #}

{% set contest_problemset_add_cid = contest_problemset_add_cid | default(false) %}

<h1 class="mt-4 text-center">
    {{ contest.name | default('Contest') }} problems
    {% if contest and show_contest_problemset and contest.contestProblemsetType is not empty %}
        {% if contest_problemset_add_cid %}
            {% set contest_problemset_url = path(contest_problemset_path, {'cid': contest.cid}) %}
        {% else %}
            {% set contest_problemset_url = path(contest_problemset_path) %}
        {% endif %}
        <a class="btn btn-secondary" role="button"
           href="{{ contest_problemset_url }}">
            <i class="fas fa-file-{{ contest.contestProblemsetType }}"></i>
            problemset
        </a>
    {% endif %}

    {% if allproblems['solved'] is defined and allproblems['solved'] is not empty %}
        <a class="btn btn-secondary" role="button"
           data-bs-toggle="collapse" data-bs-target=".collapse-solved-problems">
            <i class="fas fa-check-double"></i>
            show solved problems
        </a>
    {% endif %}
</h1>

{% set found_problem_texts = false %}
{% for problems in allproblems %}
    {% if problems is not empty %}
        {% set found_problem_texts = true %}
    {% endif %}
{% endfor %}

{% if not found_problem_texts %}
    <div class="alert alert-secondary">No problem texts available at this point.</div>
{% else %}
    <div class="container">
        {% if show_jury_warning is defined and show_jury_warning %}
            <div class="alert alert-warning">
                This is a preview of how the page will look like for teams and the public after the contest has started.
            </div>
        {% endif %}

        <h3>Alternative 1: Enable/Disable with button</h3>
        {% include 'partials/problem_list_cards.html.twig' with {'problems': fullallproblems[null], 'collapse': 2} %}
        <hr>
        <h3>Alternative 2: Those would be there by default</h3>
        {% include 'partials/problem_list_cards.html.twig' with {'problems': allproblems[null], 'collapse': 0} %}

        {% if allproblems['solved'] is defined %}
            <h1 class="mt-4 text-center" data-bs-toggle="collapse" href="#alreadySolved">
                Alternative 2: Already solved problems
                <i class="fas fa-chevron-down"></i>
            </h1>
            {% include 'partials/problem_list_cards.html.twig' with {'problems': allproblems['solved'], 'collapse': 1} %}
        {% endif %}

        {% if showLimits and timeFactorDiffers %}
            <div class="row">
                <div class="col-md-12 my-sm-3">
                    <div class=" alert alert-secondary" role="alert">
                        * language time factors apply
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}
