include:
  #- '/gitlab/ci/sast.yml'
  #- '/gitlab/ci/unit.yml'
  #- '/gitlab/ci/integration.yml'
  #- '/gitlab/ci/visual.yml'
  #- '/gitlab/ci/webstandard.yml'
  - '/gitlab/ci/template.yml'
  #- '/gitlab/ci/misc.yml'

stages:
  - test
  - visual_pre
  - integration
  - compare
  - accessibility
  - unit
  - style
  - ci_checks
  - sast

image: domjudge/gitlabci:2.1

draw_graph:
  stage: ci_checks
  image: devdemisto/matplotlib:1.0.0.24512
  allow_failure: true
  script:
    - mkdir plot
    - python3 gitlab/showtimedata.py
  artifacts:
    when: always
    paths:
      - plot
      - duration
