.svn
*.swp

/autom4te.cache
/configure
/config.log
/config.status

/www/configure.php
/etc/domserver-static.php
/etc/judgehost-static.php
/etc/judgehost-config.h
/etc/apache.conf
/etc/config.h
/etc/database-credentials.csv
/etc/dbpasswords.secret

/Makefile
/bin/Makefile
/etc/Makefile
/judge/Makefile
/lib/Makefile
/sql/Makefile
/www/Makefile

/bin/runguard
/judge/check_float
/judge/compare
/judge/judgedaemon
/lib/lib.error.o
/lib/lib.misc.o
/submit/submit
/submit/submitdaemon
