stages:
  - test

dependency_scanning:
  stage: test
  image: docker:stable
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
    - docker:stable-dind
  script:
    - export SP_VERSION=$(echo "$CI_SERVER_VERSION" | sed 's/^\([0-9]*\)\.\([0-9]*\).*/\1-\2-stable/')
    - docker run
        --volume "$CI_PROJECT_DIR:/$CI_PROJECT_DIR"
        --volume /var/run/docker.sock:/var/run/docker.sock
        "registry.gitlab.com/gitlab-org/security-products/dependency-scanning:$SP_VERSION" "/$CI_PROJECT_DIR/"
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning-report.json

integration:
  stage: test
  before_script:
    # Takes about 1 minute to pull
    - time docker pull domjudge/gitlabci:1.0
  image: docker:stable
  services:
    - docker:dind
    - mariadb
  variables:
    MYSQL_ROOT_PASSWORD: password
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
  - |
    docker run --privileged \
      -v $CI_PROJECT_DIR:$CI_PROJECT_DIR\
      --net=host \
      -e "TERM=xterm-256color" -e "HOME=$HOME" -e "USER=$USER" -e "MARIADB_PORT_3306_TCP_ADDR=$MARIADB_PORT_3306_TCP_ADDR" -e "MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD" \
      domjudge/gitlabci:1.0 /bin/bash -eo pipefail -c "umask 0002; cd $CI_PROJECT_DIR; script --return -qfc \"./gitlab.sh\" /dev/null | ts \"[%F %T]\" "
