variables:
  SAST_DEFAULT_ANALYZERS: "flawfinder, phpcs-security-audit, eslint, secrets"

stages:
  - test
  - compare

include:
  - template: Dependency-Scanning.gitlab-ci.yml
  - template: SAST.gitlab-ci.yml
  - template: License-Scanning.gitlab-ci.yml

check syntax:
  stage: test
  image: domjudge/gitlabci:2.0
  script:
    - ./gitlab/syntax.sh

check_w3c_css:
  stage: test
  image: 
    name: cyb3rjak3/html5validator
    entrypoint: [""]
  script:
    - JAR=`find /usr/local/lib -name vnu.jar|tail -n1`
    - java -jar $JAR --format json --skip-non-css webapp 2>result; RES=$?
    - python3 -m json.tool < result
    - exit $RES

check_w3c_html:
  stage: test
  image: domjudge/gitlabci:2.0
  services:
    - mariadb
  variables:
    MYSQL_ROOT_PASSWORD: password
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
  - ./gitlab/html.sh
  artifacts:
    when: always
    paths:
      - public
      - w3cHtmlpublic.json

check_wcag:
  stage: test
  image: domjudge/gitlabci:2.0
  services:
    - mariadb
  variables:
    MYSQL_ROOT_PASSWORD: password
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
  - ./gitlab/wcag.sh
  artifacts:
    when: always
    paths:
      - public

run unit tests:
  stage: test
  image: domjudge/gitlabci:2.0
  # Disabled for now as it drastically speeds up running unit tests and we don't use it yet
  # before_script:
  #   - apt-get update -yqq
  #   - apt-get install php-xdebug -yqq
  services:
    - mariadb
  variables:
    MYSQL_ROOT_PASSWORD: password
  script:
    - ./gitlab/unit-tests.sh
  artifacts:
    when: always
    paths:
      - unit-tests.xml
    reports:
      junit:
        - unit-tests.xml
  cache:
    key: unit-tests
    paths:
      - lib/vendor/

integration:
  stage: test
  image: domjudge/gitlabci:2.0
  services:
    - mariadb
  variables:
    MYSQL_ROOT_PASSWORD: password
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
    - gitlab/integration.sh
  artifacts:
    when: always
    paths:
      - gitlabartifacts
# TODO: Re-enable when gitlab is in better shape...
#  cache:
#    key: integration
#    paths:
#      - lib/vendor/
#      - chroot

visual_pr:
  stage: test
  before_script:
    # Takes about 1 minute to pull
    - echo -e "section_start:`date +%s`:docker\r\e[0Kdocker pull"
    - time docker pull domjudge/gitlabci:1.0
    - echo -e "section_end:`date +%s`:docker\r\e[0K"
  image: docker:stable
  services:
    - docker:19-dind
    - mariadb
  variables:
    MYSQL_ROOT_PASSWORD: password
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
  - |
    docker run --privileged \
      -v $CI_PROJECT_DIR:$CI_PROJECT_DIR \
      --net=host \
      -e "TERM=xterm-256color" -e "HOME=$HOME" -e "USER=$USER" -e "MARIADB_PORT_3306_TCP_ADDR=$MARIADB_PORT_3306_TCP_ADDR" -e "MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD" \
      domjudge/gitlabci:1.0 /bin/bash -eo pipefail -c "umask 0002; cd $CI_PROJECT_DIR; script --return -qfc \"./gitlab/visualpr.sh pr\" /dev/null | ts \"[%F %T]\" "
  artifacts:
    when: always
    paths:
     - screenshotspr
     - public

visual_master:
  stage: test
  before_script:
    # Takes about 1 minute to pull
    - echo -e "section_start:`date +%s`:docker\r\e[0Kdocker pull"
    - time docker pull domjudge/gitlabci:1.0
    - echo -e "section_end:`date +%s`:docker\r\e[0K"
  image: docker:stable
  services:
    - docker:19-dind
    - mariadb
  variables:
    MYSQL_ROOT_PASSWORD: password
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  script:
   - apk add git
   - git fetch
   - git checkout -B master origin/master
   - git branch --set-upstream-to=origin/master master
   - git pull
   - git checkout $CI_COMMIT_SHA -- gitlab/visualpr.sh # Always compare with the same tests
   - git checkout $CI_COMMIT_SHA -- gitlab/default-nginx
   - git checkout $CI_COMMIT_SHA -- gitlab/visualreg.css
   - |
     docker run --privileged \
       -v $CI_PROJECT_DIR:$CI_PROJECT_DIR \
       --net=host \
       -e "TERM=xterm-256color" -e "HOME=$HOME" -e "USER=$USER" -e "MARIADB_PORT_3306_TCP_ADDR=$MARIADB_PORT_3306_TCP_ADDR" -e "MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD" \
       domjudge/gitlabci:1.0 /bin/bash -eo pipefail -c "umask 0002; cd $CI_PROJECT_DIR; script --return -qfc \"./gitlab/visualpr.sh master\" /dev/null | ts \"[%F %T]\" "
  artifacts:
    when: always
    paths:
     - screenshotsmaster
     - public
    
visual_compare:
  stage: compare
  image: domjudge/gitlabci:1.0
  needs:
   - visual_pr
   - visual_master
  script:
   - ./gitlab/visualcompare.sh
  artifacts:
     when: always
     paths:
      - failingchanges
      - predictedchanges

