parameters:
    level: 6
    paths:
        - webapp/src
        - webapp/tests
    excludePaths:
        - webapp/src/Utils/Adminer.php
includes:
    - phpstan-baseline.neon
    - lib/vendor/phpstan/phpstan-doctrine/extension.neon
