parameters:
    level: 5
    paths:
        - webapp/src
        - webapp/tests
    excludePaths:
        - webapp/src/Utils/Adminer.php
includes:
    - lib/vendor/phpstan/phpstan-doctrine/extension.neon
