parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Controller\\\\API\\\\AbstractRestController\\:\\:listActionHelper\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/AbstractRestController.php

		-
			message: "#^PHPDoc tag @var for variable \\$objects has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/AbstractRestController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\AccessController\\:\\:getStatusAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/AccessController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\AwardsController\\:\\:getAwardsData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/AwardsController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\AwardsController\\:\\:listAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/AwardsController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\AwardsController\\:\\:singleAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/AwardsController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\BalloonController\\:\\:listAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/BalloonController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\ContestController\\:\\:getContestStateAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/ContestController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\ContestController\\:\\:getStatusAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/ContestController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\GeneralInfoController\\:\\:addProblemAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/GeneralInfoController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\GeneralInfoController\\:\\:getDatabaseConfigurationAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/GeneralInfoController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\GeneralInfoController\\:\\:getInfoAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/GeneralInfoController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\GeneralInfoController\\:\\:getStatusAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/GeneralInfoController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\GeneralInfoController\\:\\:getVersionAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/GeneralInfoController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\GeneralInfoController\\:\\:updateConfigurationAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/GeneralInfoController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:checkVersions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:createJudgehostAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:getExecutableFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:getFilesAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:getJudgeTasksAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:getJudgehostsAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:getJudgetasks\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:getSourceFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:getTestcaseFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:getVersionCommands\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:serializeJudgeTasks\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:updateJudgeHostAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgementTypeController\\:\\:getJudgementTypes\\(\\) has parameter \\$filteredOn with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgementTypeController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgementTypeController\\:\\:getJudgementTypes\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgementTypeController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgementTypeController\\:\\:listAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgementTypeController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgementTypeController\\:\\:singleAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgementTypeController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\ProblemController\\:\\:addProblemAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/ProblemController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\ProblemController\\:\\:addProblemsAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/ProblemController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\ProblemController\\:\\:transformObject\\(\\) has parameter \\$object with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/ProblemController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\ScoreboardController\\:\\:getScoreboardAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/ScoreboardController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\SubmissionController\\:\\:getSubmissionSourceCodeAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/SubmissionController.php

		-
			message: "#^Method App\\\\Controller\\\\Jury\\\\ClarificationController\\:\\:getClarificationFormData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/Jury/ClarificationController.php

		-
			message: "#^Method App\\\\Entity\\\\ExternalRelationshipEntityInterface\\:\\:getExternalRelationships\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Entity/ExternalRelationshipEntityInterface.php

		-
			message: "#^Method App\\\\Entity\\\\ExternalSourceWarning\\:\\:getContent\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Entity/ExternalSourceWarning.php

		-
			message: "#^Method App\\\\Entity\\\\ExternalSourceWarning\\:\\:setContent\\(\\) has parameter \\$content with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Entity/ExternalSourceWarning.php

		-
			message: "#^Property App\\\\Entity\\\\ExternalSourceWarning\\:\\:\\$content type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Entity/ExternalSourceWarning.php

		-
			message: "#^Method App\\\\Entity\\\\Judging\\:\\:getExternalRelationships\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Entity/Judging.php

		-
			message: "#^Method App\\\\Entity\\\\Submission\\:\\:getExternalRelationships\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Entity/Submission.php

		-
			message: "#^Method App\\\\Entity\\\\Team\\:\\:getExternalRelationships\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Entity/Team.php

		-
			message: "#^Method App\\\\Entity\\\\User\\:\\:getExternalRelationships\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Entity/User.php

		-
			message: "#^Method App\\\\FosRestBundle\\\\FlattenExceptionHandler\\:\\:serializeToJson\\(\\) has parameter \\$type with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/FosRestBundle/FlattenExceptionHandler.php

		-
			message: "#^Method App\\\\FosRestBundle\\\\FlattenExceptionHandler\\:\\:serializeToJson\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/FosRestBundle/FlattenExceptionHandler.php

		-
			message: "#^Method App\\\\Helpers\\\\OrdinalArray\\:\\:__construct\\(\\) has parameter \\$items with no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: webapp/src/Helpers/OrdinalArray.php

		-
			message: "#^Method App\\\\Helpers\\\\OrdinalArray\\:\\:__construct\\(\\) has parameter \\$items with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Helpers/OrdinalArray.php

		-
			message: "#^Method App\\\\Helpers\\\\OrdinalArray\\:\\:__construct\\(\\) has parameter \\$items with no value type specified in iterable type array\\|Traversable\\.$#"
			count: 1
			path: webapp/src/Helpers/OrdinalArray.php

		-
			message: "#^Method App\\\\Service\\\\AwardService\\:\\:getAwards\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/AwardService.php

		-
			message: "#^Property App\\\\Service\\\\AwardService\\:\\:\\$awardCache type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/AwardService.php

		-
			message: "#^Method App\\\\Service\\\\BalloonService\\:\\:collectBalloonTable\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/BalloonService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:addOrUpdateWarning\\(\\) has parameter \\$content with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:addPendingEvent\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:compareOrCreateValues\\(\\) has parameter \\$extraDiff with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:compareOrCreateValues\\(\\) has parameter \\$values with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:getEventFeedFormat\\(\\) has parameter \\$event with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:import\\(\\) has parameter \\$eventsToSkip with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:importClarification\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:importEvent\\(\\) has parameter \\$event with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:importEvent\\(\\) has parameter \\$eventsToSKip with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:importFromCcsApi\\(\\) has parameter \\$eventsToSkip with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:importFromContestArchive\\(\\) has parameter \\$eventsToSkip with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:importJudgement\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:importJudgementType\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:importRun\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:importSubmission\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:validateAndUpdateContest\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:validateAndUpdateGroup\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:validateAndUpdateOrganization\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:validateAndUpdateProblem\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:validateAndUpdateTeam\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ExternalContestSourceService\\:\\:validateLanguage\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Property App\\\\Service\\\\ExternalContestSourceService\\:\\:\\$cachedApiInfoData type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Property App\\\\Service\\\\ExternalContestSourceService\\:\\:\\$cachedContestData type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Property App\\\\Service\\\\ExternalContestSourceService\\:\\:\\$pendingEvents type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ExternalContestSourceService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:getContestYamlData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:getDjRoles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:getGroupData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:getResultsData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:getTeamData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:importAccountData\\(\\) has parameter \\$accountData with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:importAccountsJson\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:importAccountsTsv\\(\\) has parameter \\$content with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:importGroupData\\(\\) has parameter \\$groupData with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:importGroupsJson\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:importGroupsTsv\\(\\) has parameter \\$content with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:importOrganizationData\\(\\) has parameter \\$organizationData with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:importOrganizationsJson\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:importProblemsData\\(\\) has parameter \\$ids with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:importProblemsData\\(\\) has parameter \\$problems with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:importTeamData\\(\\) has parameter \\$teamData with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:importTeamsJson\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ImportExportService\\:\\:importTeamsTsv\\(\\) has parameter \\$content with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ImportExportService.php

		-
			message: "#^Method App\\\\Service\\\\ScoreboardService\\:\\:getGroupedAffiliations\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ScoreboardService.php

		-
			message: "#^Method App\\\\Service\\\\ScoreboardService\\:\\:getScoreboardTwigData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/ScoreboardService.php

		-
			message: "#^Method App\\\\Service\\\\StatisticsService\\:\\:getGroupedProblemsStats\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/StatisticsService.php

		-
			message: "#^Method App\\\\Service\\\\StatisticsService\\:\\:getMiscContestStatistics\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/StatisticsService.php

		-
			message: "#^Method App\\\\Service\\\\StatisticsService\\:\\:getProblemStats\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/StatisticsService.php

		-
			message: "#^Method App\\\\Service\\\\StatisticsService\\:\\:getTeamStats\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/StatisticsService.php

		-
			message: "#^Method App\\\\Service\\\\StatisticsService\\:\\:setOrIncrement\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Service/StatisticsService.php
