parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Controller\\\\API\\\\GeneralInfoController\\:\\:addProblemAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/GeneralInfoController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\GeneralInfoController\\:\\:getDatabaseConfigurationAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/GeneralInfoController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\GeneralInfoController\\:\\:updateConfigurationAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/GeneralInfoController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:checkVersions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:createJudgehostAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:getVersionCommands\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\JudgehostController\\:\\:updateJudgeHostAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/JudgehostController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\ProblemController\\:\\:addProblemAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/ProblemController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\ProblemController\\:\\:addProblemsAction\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/ProblemController.php

		-
			message: "#^Method App\\\\Controller\\\\API\\\\ProblemController\\:\\:transformObject\\(\\) has parameter \\$object with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/Controller/API/ProblemController.php
		-
			message: "#^Method App\\\\FosRestBundle\\\\FlattenExceptionHandler\\:\\:serializeToJson\\(\\) has parameter \\$type with no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/FosRestBundle/FlattenExceptionHandler.php

		-
			message: "#^Method App\\\\FosRestBundle\\\\FlattenExceptionHandler\\:\\:serializeToJson\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: webapp/src/FosRestBundle/FlattenExceptionHandler.php
