{# Render templates that can be used to fill the submission modal or detail page #}
<script type="text/template" id="empty-submission-list">
    <div class="alert alert-warning">No submissions</div>
</script>
<script type="text/template" id="submission-list">
    {% set is_scoring = false %}
    {% if contest is defined and contest.scoreboardTypeString == 'score' %}
        {% set is_scoring = true %}
    {% endif %}
    <table
        class="table table-hover table-striped table-sm">
        <thead class="thead-light">
        <tr>
            <th scope="col">time</th>
            <th scope="col">language</th>
            <th scope="col">result</th>
            {% if is_scoring %}
                <th scope="col">score</th>
            {% endif %}
        </tr>
        </thead>
        <tbody data-submission-list>
        </tbody>
    </table>
</script>
<script type="text/template" id="submission-list-item">
    <tr>
        <td data-time></td>
        <td class="langid" data-language-id></td>
        <td data-verdict></td>
        {% if is_scoring %}
            <td data-score></td>
        {% endif %}
    </tr>
</script>
