body {
    color: black;
    background-color: white;
    font-family: Roboto, sans-serif;
}

/* menu */
#menuDefault ul li.nav-item {
    white-space: nowrap;
}

#djlogo {
    width: 93px; height: 196px;
}


.submitform {
    max-width: 450px;
}
.clarificationform {
    max-width: 800px;
    padding-top: 4em;
}

.disabled {
    color: silver !important;
}

.unseen {
    font-weight: bold;
}

.data-table .ignore, table td.ignore {
    text-decoration: line-through;
}

.probid, .langid { font-variant: small-caps; }

.badge-testcase {
    width: 20px;
    margin-right: 1px;
}

.sol {
    font-weight: bold;
    font-variant: small-caps;
}

.sol_correct      { color: green;  }
.sol_incorrect    { color: red;    }
.sol_queued       { color: gray;   }

.judgetime      { font-size: smaller; font-style: italic; }
.testcases_prev { font-size: xx-small; }
.prevsubmit     { color: #696969; }

.output_text {
    border-top: 1px dotted #C0C0C0;
    border-bottom: 1px dotted #C0C0C0;
    background-color: #FAFAFA;
    margin: 0;
    padding: 5px;
    font-family: monospace;
    white-space: pre;
}

.teamid { font-family: monospace; }
.filename, .hostname { font-family: monospace; }

.nodata {
    color: gray;
    font-style: italic;
}

a.collapse-link { color: black; text-decoration: none; }

table.lcsdiff {
    border-spacing: 0;
    border-collapse: collapse;
}
table.lcsdiff td.linenr {
    background-color: darkgray;
    text-align: right;
    border-right: solid 1px black;
    padding-right: 7px;
}

ins {
    background: #dfd;
    text-decoration: none;
}
del {
    background: #fdd;
    text-decoration: none;
}


.run h4 {
    font-size: 1.25rem;
    padding-top: 1rem;
}

.run h5 {
    font-size: 0.9rem;
    font-weight: bold;
    padding-top: 1.2rem;
}

.source-tab {
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    padding: 0.5rem;
}

#lastmod {
    position: absolute; right: 1ex; margin-top: 1em;
}
#lastmod, #lastmod a {
    font-size: x-small;
    color: gray;
    text-align: right;
}

.center { margin: 0px auto; }

.scoreboard {
    border-collapse: collapse;
    clear: both;
}
.scoreboard td {
    font-size: small;
    vertical-align: middle;
    text-align: center;
}
.scoreboard td div {
    width: 4em;
    font-size: 120%;
    display: inline-block;
}
.scoreboard td div span {
    font-weight: normal;
    font-size: 70%;
    display: block;
}
.scoreboard tr {
    border-bottom: 1px solid black;
    height: 42px;
}
.scoreboard td, .scoreboard th {
    border-right: 1px solid silver;
}
.scoreboard td.score_cell {
    min-width: 4.2em;
    border-right: none;
}
.scoreboard a {
    display: block;
    padding: 2px 1px 2px 1px;
    text-decoration: none;
    color: black;
}

.scoreboard .scoretn {
    padding: 0px 5px 0px;
    text-align: right;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.scoreboard .scoreaf { white-space: nowrap; border: 0; text-align: center; }
.scoreboard .scoreaf img { 
	vertical-align: middle;
	height: 32px;
	width: 32px;
}
.univ {
    font-size: 80%;
    font-weight: normal;
    color: dimgrey;
}

img.affiliation-logo {
    height: 32px;
    width: 32px;
}

.scoreheader {
    font-variant: small-caps;
    border-bottom: 2px solid black;
    white-space: nowrap;
}
.scoreheader th {
    text-align: center;
}

.problempoints {
    font-size: smaller;
    font-weight: normal;
    color: #303030;
    padding-left: 3pt;
    padding-right: 3pt;
}

.score_correct   { background: #60e760; }
.score_first     { background: #1daa1d !important; }
.score_pending   { background: #6666FF; }
.score_incorrect { background: #e87272; }

#scoresolv,#scoretotal { width: 2.5em; }
.scorenc,.scorett,.scorepl { text-align: center; width: 2ex; }
.scorenc { font-weight: bold; }
td.scorenc { border-color: silver; border-right: 0; }

.scoreprob { width: 3.0em; vertical-align: middle; }
.scoreaffil { text-align: center; }

#scoresummary {
    border-top: 2px solid black;
    border-bottom: none;
    font-variant: small-caps;
}
.scorethisisme  {
    background: #ffff99;
}

.scorelegend {
    display: inline-block;
    vertical-align: top;
}

.scorelegend td, .scorelegend th {
    text-align: center;
    width: 25ex;
}

#teamscoresummary { margin-top: 2.5em; }

/* between different sortorder-categories, print a thick line */
.sortorderswitch { border-top: 2px solid black; }

.circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: solid 1px black;
    display: inline-block;
}

.heart {
    padding: .3em;
    cursor: pointer;
}

.countryflag {
    height: 30px;
    width: 40px;
}

table.rejudgetable td {
    text-align: center;
}
table.rejudgetable td.changed {
    background-color: #fdd;
    font-weight: bold;
}
table.rejudgetable td.identical {
    background-color: #dfd;
}
table.rejudgetable td.zero {
    background-color: #F0F8FF;
}

tr.ignore td, td.ignore, span.ignore {
    text-decoration: line-through;
}

.clarification-subject-form, .clarification-queue-form {
    display: none;
}

.form-inline {
    display: inline;
}

.input-group-text {
    font-size: small;
    width: 3em;
}

.card-header .fa {
    transition: .5s transform ease-in-out;
}
.card-header .collapsed .fa {
    transform: rotate(90deg);
}
