/* menu */
#menuDefault ul li.nav-item {
    white-space: nowrap;
}

#djlogo {
    width: 93px; height: 196px;
}


.submitform {
    max-width: 450px;
}

.data-table tr.disabled td a {
    color: silver
}

.data-table td.ignore {
    text-decoration: line-through;
}

.probid, .langid { font-variant: small-caps; }

.badge-testcase {
    width: 20px;
    margin-right: 1px;
}

.sol {
    font-weight: 500;
    font-variant: small-caps;
}

.sol_correct      { color: green;  }
.sol_incorrect    { color: red;    }
.sol_queued       { color: gray;   }
