doctrine:
    dbal:
        # configure these for your database server
        driver: 'pdo_mysql'
        charset: utf8mb4
        default_table_options:
            charset: utf8mb4
            collate: utf8mb4_unicode_ci

        url: '%env(DATABASE_URL)%'
        profiling_collect_backtrace: '%kernel.debug%'
        types:
            tinyint: App\Doctrine\DBAL\Types\TinyIntType
            blobtext: App\Doctrine\DBAL\Types\BlobTextType
            json: App\Doctrine\DBAL\Types\JsonType
            binaryjson: App\Doctrine\DBAL\Types\BinaryJsonType
            internal_error_status: App\Doctrine\DBAL\Types\InternalErrorStatusType
            judge_task_type: App\Doctrine\DBAL\Types\JudgeTaskType
        mapping_types:
            enum: string
        schema_filter: ~^(?!sessions)~
        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '15'
    orm:
        auto_generate_proxy_classes: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        controller_resolver:
            auto_mapping: false
        enable_lazy_ghost_objects: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App

        dql:
            string_functions:
                truncate: App\Doctrine\ORM\Query\AST\Functions\TruncateFunction
                right: App\Doctrine\ORM\Query\AST\Functions\RightFunction

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'
            use_savepoints: true

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
