framework:
    secret: '%env(APP_SECRET)%'
    csrf_protection: ~
    fragments: ~

    session:
        handler_id: "%env(DATABASE_URL)%"
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    php_errors:
        log: true

    assets:
        version: "v=%domjudge.version%"
