{% set pageTitle = "Not Authenticated" %}

{% extends '@DOMjudgeMain/base.html.twig' %}

{% block body %}
	<p>
		Please supply your credentials below, or contact a staff member for assistance.
	</p>
	{{ form(form) }}
	
{% endblock %}
