/* $Id$ */

.output_text {
	border: 2px dotted #C0C0C0;
	background-color: #f9f9f9;
	margin: 0;
	padding: 5px;
	font-family: monospace;	
}

.sol {
	font-weight: bold;
	font-variant: small-caps;
}
.correct {
	color: green;
}
.incorrect {
	color: red;
}
.queued {
	color: gray;
}

.teamid, .filename {
	font-family: monospace;
}
