/domserver-static.php
/judgehost-static.php
/runguard-config.h
/apache.conf
/nginx-conf
/nginx-conf-inner
/domjudge-fpm.conf
/config.h.in
/config.h
/dbpasswords.secret
/restapi.secret
/symfony_app.secret
/initial_admin_password.secret
/sudoers-domjudge
/docs.yaml
