/domserver-static.php
/domserver-static.h
/judgehost-static.php
/runguard-config.h
/submit-config.h
/apache.conf
/config.h.in
/config.h
/htpasswd-jury
/htpasswd-plugin
/dbpasswords.secret
/restpasswords.secret
/sudoers-domjudge
/cgroup-domjudge.conf
