/domserver-static.php
/judgehost-static.php
/runguard-config.h
/submit-config.h
/apache.conf
/nginx-conf
/domjudge-fpm.conf
/config.h.in
/config.h
/dbpasswords.secret
/restapi.secret
/sudoers-domjudge
/domjudge-judgehost.init
