<hr />
<address>
  DOMjudge/{{DOMJUDGE_VERSION}} at {{_SERVER['SERVER_NAME']|default('TODO:Servername')}} Port {{_SERVER['SERVER_PORT']|default('TODO:Serverport')}},
  page generated <span id="timecur">{{'now'|date('D d M Y H:i:s T')}}</span>
</address>
