{% extends "jury/base.html.twig" %}

{% block title %}Send clarification - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="container clarificationform">
<h1>Send Clarification</h1>
{%- include 'jury/partials/clarification_form.html.twig'  %}
</div>

{% endblock %}
