<span class="badge text-bg-secondary id-badge" data-bs-toggle="tooltip" data-bs-placement="top" title="{% if label is defined and label | length %}Label: {{ label }}, {% endif %}ID: {{ externalId }}">
    {% if label is defined and label | length %}
        {{ label }}
    {% else %}
        {{ externalId }}
    {% endif %}
</span>
