{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}External contest sources - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>External contest sources</h1>

    <div data-ajax-refresh-target>
        {% include 'jury/partials/external_contest_source_list.html.twig' %}
    </div>

    <p>
        {{ button(path('jury_external_contest_source_add'), 'Add new external contest source', 'primary', 'plus') }}
    </p>

{% endblock %}
