{% extends 'jury/base.html.twig' %}

{% block title %}Import and export contest data - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Import and export contest data</h1>

    <h3>Import from YAML</h3>

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-warning">
                Importing a contest.yaml may overwrite some settings (e.g. penalty time, clarification categories,
                clarification answers, etc.). This action can not be undone!
            </div>

            {{ form(import_form) }}
        </div>
    </div>

    <h3>Export to YAML</h3>

    <div class="row">
        <div class="col-md-6">
            {{ form(export_form) }}
        </div>
    </div>
{% endblock %}
