{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Internal errors - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Internal errors</h1>

    {{ macros.table(internal_errors, table_fields, 0, {ordering: 'false'}) }}

{% endblock %}
