{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.select2_extrahead() }}
{% endblock %}

{% block title %}Resolve internal error - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Resolving internal error...</h1>

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info">
                Resolving internal error. This might take a while...

                <div class="progress mt-2 mb-2">
                    <div id="internal-error-progress"
                         class="progress-bar progress-bar-animated progress-bar-striped" style="width: 0%;">
                        0%
                    </div>
                </div>
                <div id="internal-error-log"></div>
                <div class="mt-4" id="internal-error-message"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrafooter %}
    <script>
        $(function () {
            var $progress = $('#internal-error-progress');
            var $log = $('#internal-error-log');
            var $message = $('#internal-error-message');

            var currentData = '';

            var consume = function(responseReader) {
                return responseReader.read().then(function(result) {
                    if (result.done) { return; }

                    var chunk = new TextDecoder().decode(result.value);
                    currentData += chunk;

                    if (currentData[currentData.length - 1] === "}") {
                        // Make sure we start at the last {
                        var data = JSON.parse(currentData.substring(currentData.lastIndexOf('{')));
                        currentData = '';

                        $progress
                            .attr('style', 'width: ' + data.progress + '%;')
                            .text(data.progress + '%');

                        if (data.progress == '100') {
                            $progress
                                .removeClass('progress-bar-animated')
                                .removeClass('progress-bar-striped')
                                .addClass('bg-success');
                        }

                        if (data.message) {
                            $message.html(data.message);
                            return;
                        }

                        $log.html(data.log);
                    }

                    return consume(responseReader);
                });
            };
            fetch('{{ url }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-Requested-With': 'XMLHttpRequest'
                }
            }).then(function(response) {
                return consume(response.body.getReader());
            });
        });
    </script>
{% endblock %}
