{% extends "jury/base.html.twig" %}

{% block title %}Edit Judgehosts - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Edit Judgehosts</h1>

    {% include 'jury/partials/judgehosts_form.html.twig' %}

{% endblock %}
