{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Add problem - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Add problem</h1>

    {% include 'jury/partials/problem_form.html.twig' %}

{% endblock %}
