<div class="alert alert-warning">
    <strong>Warning:</strong> Refresh scoreboard cache
    <hr>
    <p>{{ message }}</p>
    <form action="{{ path('jury_refresh_cache') }}" method="POST">
        {% if current_contest is not empty %}
            <input type="hidden" name="cid" value="{{ current_contest.cid }}"/>
        {% endif %}
        <input type="submit" name="refresh" value="Recalculate caches now" class="btn btn-primary"/>
    </form>
</div>
