{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Scoreboard - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <div data-ajax-refresh-target>
        {% include 'partials/scoreboard.html.twig' with {jury: true} %}
    </div>

{% endblock %}
