{% extends "jury/base.html.twig" %}

{% block title %}Generate passwords - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Generate passwords</h1>

    <p>Generating a new password for a user will not affect
    existing logged-in sessions.</p>

    {{ form(form) }}

{% endblock %}
