{% extends "jury/base.html.twig" %}

{% block title %}Generate passwords - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Generate passwords</h1>

    <div class="alert alert-info" role="alert">Generating a new password for a logged-in user
    will cause them to be logged out immediately.</div>

    The passwords will be downloaded as tab-separated file as documented
    <a href="https://ccs-specs.icpc.io/2021-11/ccs_system_requirements?highlight=teams.tsv#accountstsv">here</a>.

    {{ form(form) }}

{% endblock %}
