{% extends "jury/base.html.twig" %}

{% block title %}Generate passwords - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Generate passwords</h1>

    <div class="alert alert-info" role="alert">Generating a new password for a logged-in user
    will cause them to be logged out immediately.</div>

    {{ form(form) }}

{% endblock %}
