{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Add user - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Add user</h1>

    {% include 'jury/partials/user_form.html.twig' %}

{% endblock %}
