{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Add user - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.toggle_extrahead() }}
{% endblock %}

{% block content %}

    <div class="contest-form">
        <h1>Add user</h1>

        {% include 'jury/partials/user_form.html.twig' %}
    </div>

{% endblock %}
