{% extends 'public/help_section/base.html.twig' %}

{% set id = 'Communication' %}

{% block header %}
    Komunikace
{% endblock %}

{% block body %}
    <p>
        V průběhu semináře budeme účastníkům posílat informativní zprávy. K tomuto účelu slouží sekce Messages na
        stránce Home.
    </p>
    <img src="{{ asset('images/help/messages.png') }}" alt="Odevzdání" class="mb-3 rounded-3 img-fluid help-img">
    <p>
        Nepřečtené zprávy se zobrazí žlutě v navigační liště.
    </p>
    <img src="{{ asset('images/help/messages-unread.png') }}" alt="Výsledky odevzdání"
         class="mb-3 rounded-3 img-fluid help-img">
    <p>
        Může se stát, že budete potřebovat objasnit zadání úlohy nebo výsledek kontroly. V případě nejasností se
        neváhejte ozvat, využijte k tomu tlačítko v sekci Clarification Request pod Messages.
    </p>
    <img src="{{ asset('images/help/clarification-request.png') }}" alt="Výsledky odevzdání"
         class="mb-3 rounded-3 img-fluid help-img">
    <p>
        Do stejné sekce vám dorazí i odpověď.
    </p>
{% endblock %}
