{% extends 'public/help_section/base.html.twig' %}

{% set id = 'ForgottenPassword' %}

{% block header %}
    Zapomenuté heslo
{% endblock %}

{% block body %}
    <p>
        V případě, že zapomenete heslo, napište nám na
        <a href="mailto:zapotocny@delta-skola.cz">zapotocny@delta-skola.cz</a> a my vám ho resetujeme.
    </p>
{% endblock %}
