{% extends 'public/help_section/base.html.twig' %}

{% set id = 'Problemset' %}

{% block header %}
    Zadání
{% endblock %}

{% block body %}
    <p>
        Zádání úloh naleznete na stránce Problemset:
    </p>
    <img src="{{ asset('images/help/problemset.png') }}" alt="Zadání" class="mb-3 rounded-3 img-fluid help-img">
    <p>
        Kliknutím na tlačítko "text" zobrazíte PDF zadání příslušné úlohy.
        Vzorové vstupy, kterými můžete své řešení zkusit, získáte stažením "samples".
        Nejedná se však o kompletní sadu, kterou bude muset program projít - některé testy jsou skryté.
    </p>
    <p>
        Pod tím jsou zároveň k dispozici kódové šablony pro jednotlivé jazyky. Ty obsahují základní strukturu programu a
        import všech knihoven, které bude řešení vyžadovat (ale můžete klidně přidat další).
    </p>
{% endblock %}
