{% extends 'public/help/base.html.twig' %}

{% set id = 'RuntimesInstallation' %}

{% block header %}
    Instalace jazyků
{% endblock %}

{% block body %}
    <div class="alert alert-warning" role="alert">
        Možná přidat instrukce ke spuštění různých runtimes lokálně? // TODO
    </div>
{% endblock %}
