{% extends 'public/help/base.html.twig' %}

{% set id = 'Todo' %}

{% block header %}
    TODO
{% endblock %}

{% block body %}
    <ul>
        <li>instrukce ke spuštění různých runtimes lokálně</li>
        <li>vstup a výstup programu, stdin, stdout, jak testovat ručně a ze souboru</li>
        <li>složitější ukázka diffu ve výstupu, třeba z TG úlohy</li>
        <li>různé typy errorů při kontrole</li>
        <li>vysvětlení scoreboardu</li>
    </ul>
{% endblock %}
