html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
}
#loginform {
  text-align: center;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin button[type="submit"] {
  margin-top: 11px;
}

/* These classes are to make our additional login methods fit side by side with
   the main login method. */
.main-login, .additional-logins {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  min-height: 220px;
}
.main-login {
  width:280px;
}

.additional-logins {
  width: 330px;
}
.login-content {
  min-height: 105px;
  /* This was added as it seems to make the buttons from the main
     login and additional login forms line up. I don't know why.
  */
  border-bottom: 2px solid rgba(0,0,0,0);
}
div.vertical-line{
  width: 1px;
  background-color: #cecece;
  height: 230px;
  display: inline-block;
}
