/* $Id$ */

body {
	color: black;
	background-color: white;
	font-family: sans-serif;
}

img {	border: 0; }

.sol {
	font-weight: bold;
	font-variant: small-caps;
}

.sol_correct      { color: green;  }
.sol_incorrect    { color: red;    }
.sol_queued       { color: gray;   }

tr.sub_ignore td {
	text-decoration: line-through;
}

a:link, a:visited { color: blue;   }
a:hover           { color: purple; }
a:active          { color: red;    }

.disabled         { color: silver; }
.disabled a       { color: gray;   }

/* general table layout (not in scoreboard or lists) */
table {
	border-collapse: separate;
	border-spacing: 2px;
}

th {
	vertical-align: bottom;
	border-bottom: 1px dashed gray;
}

caption {
	font-weight: bold;
	margin-bottom: 1ex;
}

hr {
	border: 0;
	height: 1px;
	background-color: gray;
	margin-top: 2em;
}
address { font-size: smaller; }

tr.unread td {
	font-weight: bold;
}

/* more spacing in lists of teams, submissions, etc. */
.list { border-spacing: 0px; }
.list td, .list th {
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: bottom;
}

.output_text {
	border-top: 1px dotted #C0C0C0;
	border-bottom: 1px dotted #C0C0C0;
	background-color: #FAFAFA;
	margin: 0;
	padding: 5px;
	font-family: monospace;	
}

span.differ {
	color: Red;
}

span.endline {
	color: Orange;
}

span.extra {
	color: Red;
}

.teamid { font-family: monospace; }
.probid, .langid { font-variant: small-caps; }

#menutop a {
	font-weight: bold;
	text-decoration: none;
	background-color: #FFFFF0;
	border: 1px solid black;
	margin: 2px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
#menutop a.new {
	color: #FF0000;
}
#clock {
	position: absolute; right: 1ex; top: 1ex;
	font-size: small;
	font-family: monospace;
	border: 1px dashed #ccc;
	padding: 4px;
	color: gray;
	text-align: right;
}
#timeleft { color: #800080;}


fieldset {
	margin: 2em;
	padding: 1em;
}

.error {
	color: red;
	font-family: monospace;
	border: 1px dotted red;
}

legend {
	font-variant: small-caps;
	font-weight: bold;
	padding: .1ex .5ex;
}

.error legend {
	font-size: x-large;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}


.scoreboard {
	border-collapse: collapse;
	background: white url('images/slinger.png') no-repeat center;
}
#legend { background: white; }
.scoreboard td { font-size: small; }
.scoreboard tr { border-bottom: 1px solid silver; }
.scoreboard td, .scoreboard th {
	border-right: 1px solid black;
	padding: 3px;
}
.scoreboard a {
	display: block;
	padding: 3px;
	text-decoration: none;
	color: black;
}

.scoreboard .scoretn { padding: 0px; width: 25ex; }
.scoreboard .scoreaf { white-space: nowrap; }

.scoreheader {
	font-variant: small-caps;
	border-bottom: 2px solid black;
}
.score_correct   { background: #33FF66; }
.score_incorrect { background: #FF6666; }
.score_neutral   { background: inherit; }

#scoresolv,#scoretotal { width: 5em; }
.scorenc,.scorett,.scorepl { text-align: right; width: 2ex; }
td.scorenc { border-color: silver; }

.scoreprob { width: 7em; }
.scoreaffil { text-align: center; }

#scoresummary {
	border-top: 2px solid black;
	border-bottom: none;
	font-variant: small-caps;
}
#scorethisisme .scoretn {
	background: #ff6600;
	font-weight: bold;
}

#lastmod {
	color: gray;
	font-size: x-small;
	position: absolute; right: 1ex; margin-top: 1em;
}

#teamscoresummary { position: absolute; right: 2ex; top: 7ex; }
#teamscoresummary td { padding: 3px; }
#teamscoresummary th { padding: 3px; }

#teampicture { position: absolute; right: 2ex; top: 7ex; }

/* between different sortorder-categories, print a thick line */
.sortorderswitch { border-top: 2px solid black; }

