/* tokeninput style for DOMjudge */
ul.token-input-list {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    width: 400px;
    border: 1px solid darkgray;
    font-size: 12px;
    font-family: Verdana, sans-serif;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
    list-style-type: none;
    clear: left;
    cursor: pointer;
}

ul.token-input-list-wide {
    width: 800px;
}

ul.token-input-list li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: #F0F0F0;
    margin: 2px 0;
    -webkit-appearance: caret;
}

li.token-input-token {
    overflow: hidden;
    height: auto !important;
    height: 15px;
    margin: 3px;
    padding: 1px 3px;
    background-color: #dddddd;
    color: #000;
    cursor: default;
    border: 1px solid #888888;
    font-size: 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}

li.token-input-token p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    color: #666666;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #555555;
    border: 1px solid black;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbbbbb;
}

li.token-input-input-token {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 11px;
    font-family: Verdana, sans-serif;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fff;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #444444;
    color: #fff;
}
