# this is some evil php function that ruins everything
php_flag magic_quotes_gpc off
php_flag magic_quotes_runtime off

AuthName "Jury Only Area"
AuthType Basic
<Limit GET POST>

require valid-user
AuthType Basic
AuthName "DOMjudge"
AuthUserFile /home/cies/nkp0405/systeem/svn/jury/.htpasswd

</Limit>
