/* $Id$ */

.output_text {
	border: 2px dotted #C0C0C0;
	background-color: #f9f9f9;
	margin: 0;
	padding: 5px;
	font-family: monospace;	
}

.invalid {
	color: silver;
	
}

.sol-correct {
	font-weight: bold;
	font-variant: small-caps;
	color: green;
}
.sol-incorrect {
	font-weight: bold;
	font-variant: small-caps;
	color: red;
}

.sol-queued {
	font-weight: bold;
	font-variant: small-caps;
	color: gray;
}
