/* $Id$ */

.output_text {
	border: 2px dotted #C0C0C0;
	background-color: #f9f9f9;
	margin: 0;
	padding: 5px;
	font-family: monospace;	
}

.disabled {
	color: silver;
}

.sol {
	font-weight: bold;
	font-variant: small-caps;
}
.correct {
	color: green;
}
.incorrect {
	color: red;
}
.queued {
	color: gray;
}

.teamid, .filename, .hostname {
	font-family: monospace;
}

.menutop a {
	font-family: sans-serif;
	background-color: #FFFFF0;
	font-family: sans-serif;
	font-size: smaller;
	font-weight: lighter;
	border-style: solid;
	border-width: 1px;
	text-decoration: none;
	margin: 2px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

