/* $Id$ */

body {
	font-color: black;
	background-color: white;
	font-family: sans-serif;
}

.output_text {
	border: 2px dotted #C0C0C0;
	background-color: #F9F9F9;
	margin: 0;
	padding: 5px;
	font-family: monospace;	
}

.sol {
	font-weight: bold;
	font-variant: small-caps;
}

.correct          { color: green;  }
.incorrect        { color: red;    }
.queued           { color: gray;   }

a:link, a:visited { color: blue;   }
a:hover           { color: purple; }
a:active          { color: red;    }

.disabled         { color: silver; }
.disabled a       { color: gray;   }

.teamid, .filename, .hostname {
	font-family: monospace;
}

#menutop a {
	font-weight: bold;
	background-color: #FFFFF0;
	border: 1px solid black;
	text-decoration: none;
	margin: 2px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
#clock {
	position: absolute;
	right: 1ex;
	top: 1ex;
	font-size: small;
	font-family: monospace;
	color: gray;
	border: 1px dashed #ccc;
    padding: 4px;
}

.error {
	color: red;
	font-weight: bold;
	font-family: monospace;
	border: 1px dotted red;
	margin-left: 1em;
	margin-right: 1em;
	padding: 1em;
}

.error legend {
	font-variant: small-caps;
	font-size: x-large;
	font-weight: bold;
	padding: .1ex .5ex;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}

