/checkinput
/checktestdata
/lex.cc
/parse.cc
/parserbase.h
/scannerbase.h
/runssh_judgehosts
/runssh_teams
/save_sources2file
/restore_sources2db
/static_scoreboard
/combined_scoreboard
/balloons
/simulate_contest
/create_cgroups
/import-forwardfeed
