Source: domjudge
Priority: optional
Section: misc
Maintainer: DOMjudge Developers <team@domjudge.org>
Uploaders: Jaap Eldering <jaap@jaapeldering.nl>, Keith Johnson <kj@ubergeek42.com>, Thijs Kinkhorst <thijs@debian.org>
Build-Depends: libcurl4-gnutls-dev, libmagic-dev,
 debhelper (>= 12), libcgroup-dev, zip, libjsoncpp-dev
Build-Depends-Indep: python-sphinx, python-sphinx-rtd-theme, rst2pdf, fontconfig, latexmk
Homepage: https://www.domjudge.org
Standards-Version: 4.5.0
Vcs-Git: https://github.com/DOMjudge/domjudge-packaging.git
Vcs-Browser: https://github.com/DOMjudge/domjudge-packaging

Package: domjudge-common
Architecture: all
Depends: ${misc:Depends}
Recommends: beep
Replaces: domjudge-domserver (<< 7.3.0)
Description: common files for the DOMjudge programming contest jury system
 This package contains files common to the elements of the DOMjudge
 programming contest jury system, and is only necessary as a dependency
 of domjudge-domserver and domjudge-judgehost.

Package: domjudge-domserver
Architecture: all
Depends: domjudge-common (= ${source:Version}), apache2 | httpd,
 php, php-mysql, php-xml, php-intl, php-curl, php-mbstring,
 php-cli, php-json, php-gd, php-zip, acl,
 zip, unzip, dbconfig-common, default-mysql-client | virtual-mysql-client,
 ${misc:Depends}
Recommends: ntp, default-mysql-server | virtual-mysql-server
Suggests: enscript, lpr
Replaces: domjudge-common (<< 7.3.0)
Description: programming contest jury system (server)
 DOMjudge is a jury system for running a programming contest. It allows
 teams to submit solutions to problems, which will be compiled, ran and
 tested in a secured environment. For communications with teams, judges
 and the general public, a web interface is provided.
 .
 DOMjudge has been developed for and used in ICPC-style contests around
 the world.
 .
 This package contains the central server.

Package: domjudge-judgehost
Architecture: any
Depends: domjudge-common (= ${source:Version}), php-cli,
 php-json, php-curl, php-xml, php-zip, procps,
 adduser, lsb-base, unzip,
 ${shlibs:Depends}, ${misc:Depends}
Recommends: ntp, sudo, debootstrap, gcc, g++, default-jdk-headless | default-jdk
Suggests: ghc, fp-compiler
Conflicts: apport
Description: programming contest jury system (judgehost)
 DOMjudge is a jury system for running a programming contest. It allows
 teams to submit solutions to problems, which will be compiled, ran and
 tested in a secured environment. For communications with teams, judges
 and the general public, a web interface is provided.
 .
 DOMjudge has been developed for and used in ICPC-style contests around
 the world.
 .
 This package contains the judgehost, which performs the building,
 running and testing of the submitted programs.

Package: domjudge-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: programming contest jury system (documentation)
 DOMjudge is a jury system for running a programming contest. It allows
 teams to submit solutions to problems, which will be compiled, ran and
 tested in a secured environment. For communications with teams, judges
 and the general public, a web interface is provided.
 .
 DOMjudge has been developed for and used in ICPC-style contests around
 the world.
 .
 This package contains the documentation for administrators, judges
 and teams.
