#!/usr/bin/make -f
#export DH_VERBOSE=1

DJDS=`pwd`/debian/domjudge-domserver
DJJH=`pwd`/debian/domjudge-judgehost
DJDC=`pwd`/debian/domjudge-doc

include /usr/share/dpatch/dpatch.make

build: patch build-stamp
build-stamp:
	dh_testdir

	# Make paths conform to Debian's desired layout.
	# Set domjudge-user to root for now, since the user 'domjudge'
	# may not exist at all on the build system. We chown the
	# files in postinst.
	./configure \
		--with-domjudge_docdir=/usr/share/doc/domjudge \
		\
		--with-domserver_bindir=/usr/bin \
		--with-domserver_etcdir=/etc/domjudge \
		--with-domserver_wwwdir=/usr/share/domjudge/www \
		--with-domserver_sqldir=/usr/share/domjudge/sql \
		--with-domserver_libdir=/usr/share/domjudge \
		--with-domserver_libwwwdir=/usr/share/domjudge/libwww \
		--with-domserver_libsubmitdir=/usr/share/domjudge \
		--with-domserver_logdir=/var/log/domjudge \
		--with-domserver_tmpdir=/tmp \
		--with-domserver_submitdir=/var/lib/domjudge/submissions \
		\
		--with-judgehost_bindir=/usr/bin \
		--with-judgehost_etcdir=/etc/domjudge \
		--with-judgehost_libdir=/usr/lib/domjudge \
		--with-judgehost_libjudgedir=/usr/lib/domjudge \
		--with-judgehost_logdir=/var/log/domjudge \
		--with-judgehost_tmpdir=/tmp \
		--with-judgehost_judgedir=/var/lib/domjudge/judgings \
		\
		--with-domjudge-user=root

	# 'make build' bouwt ook zeer tijdrovende misc-tools dir,
	# niet doen dus.
	#$(MAKE) build
	$(MAKE) domserver
	$(MAKE) judgehost

	touch build-stamp

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	rm -f build-stamp 
	$(MAKE) distclean
	dh_clean

install:
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	$(MAKE) DESTDIR=$(DJDS) install-domserver
	$(MAKE) DESTDIR=$(DJJH) install-judgehost
	$(MAKE) DESTDIR=$(DJDC) install-docs
	#
	dh_install
	# clean up tmpdirs
	rmdir $(DJDS)/tmp $(DJJH)/tmp
	# clean up docs
	cd $(DJDC)/usr/share/doc/domjudge && \
		rm COPYING* README README.country_flags ChangeLog logos/DOMjudgelogo.png
	# This must be shipped in domjudge-common
	rm $(DJDS)/etc/domjudge/common-config.php $(DJJH)/etc/domjudge/common-config.php \
		$(DJDS)/usr/share/domjudge/*.php $(DJJH)/usr/lib/domjudge/*.php \
		$(DJDS)/usr/share/domjudge/alert $(DJJH)/usr/lib/domjudge/alert
	# We'd like these to be amendable by the admin
	cd $(DJDS)/usr/share/domjudge/www/images/ && \
		mv teams affiliations ../../../../../var/lib/domjudge/images/
	# This we'll symlink from the system-copy
	rm $(DJJH)/usr/lib/domjudge/sh-static
	# Makes no sense to include passwords generated on .deb build host
	rm $(DJJH)/etc/domjudge/dbpasswords.secret \
		$(DJDS)/etc/domjudge/dbpasswords.secret \
		$(DJDS)/etc/domjudge/htpasswd-jury
	# TODO: Why is runguard in /usr/bin? It's never called directly?
	# Doesn't really hurt currently.
	#
	# Needs to be web-writable:
	chgrp www-data $(DJDS)/var/lib/domjudge/submissions \
		$(DJDS)/var/log/domjudge
	chmod g+w $(DJDS)/var/lib/domjudge/submissions \
		$(DJDS)/var/log/domjudge

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -p domjudge-doc
	dh_installchangelogs -p domjudge-common -p domjudge-domserver -X ChangeLog
	dh_installdocs
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a -X ChangeLog
	dh_installdocs -a
	dh_installinit -a
	dh_installman -a
	dh_installdebconf -a
	dh_installexamples -a
	dh_strip -a
	dh_link -a
	dh_compress -a
	dh_fixperms -a
	chmod 4755 $(DJJH)/usr/bin/runguard
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
