{% extends 'team/base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}View clarification - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.mathjax_head() }}
{% endblock %}

{% block content %}
    <h1 class="text-center mt-4">Clarification
    {% if clarification.sender and clarification.sender.teamid == team.teamid %}Request{% endif%}</h1>

    {% include 'team/partials/clarification_content.html.twig' %}

    <div class="container clarificationform mt-3">
    <button class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapsereplyform"
            aria-expanded="false" aria-controls="collapsereplyform" id="clarification-reply-button">
        <i class="fa fa-reply"></i> reply to this clarification
    </button>
    </div>

{% endblock %}

{% block extrafooter %}
    <script>
        setupPreviewClarification($('#team_clarification_message'), $('#messagepreview'), true);
        {% if not form.vars.valid %}
        $(function () {
            replaceClarificationReplyButton();
        });
        {% endif %}
    </script>
{% endblock %}
