{% extends 'team/base.html.twig' %}

{% block title %}Documentation - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div>
                    <h1 class="mt-4">Documentation</h1>
                </div>

                <div class="list-group">
                {% for doc in doc_links %}
                        <a href="{{ doc.link }}" class="list-group-item list-group-item-action" target="_blank">
                            {% if doc.icon is defined %}
                                <i class="{{ doc.icon }}" aria-hidden="true"></i>
                            {% endif %}
                            {{ doc.name }}
                        </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

