{% extends "team/base.html.twig" %}

{% block title %}Contest problems {{ current_team_contest.shortname | default('') }} - {{ parent() }}{% endblock %}

{% block content %}
    {% if current_team_contest is not empty and not current_team_contest.allowSubmit %}
        <div data-flash-messages>
            {% include 'partials/alert.html.twig' with {'type': 'danger', 'message': 'Submissions disabled.\nPlease switch to the active contest using trophy icon in the top navigation.'} %}
        </div>
    {% endif %}

    {% include 'partials/problem_list.html.twig' with {
        contest: current_team_contest,
        show_contest_problemset: current_team_contest and current_team_contest.freezeData.started,
        contest_problemset_path: 'team_contest_problemset',
        problem_statement_path: 'team_problem_statement',
        problem_attachment_path: 'team_problem_attachment',
        problem_sample_zip_path: 'team_problem_sample_zip',
        show_submit_button: true,
        submission_languages: submission_languages
    } %}
{% endblock %}
