{% extends "team/base.html.twig" %}

{% block title %}Scoreboard - {{ parent() }}{% endblock %}
{% block content %}
    <div data-ajax-refresh-target data-ajax-refresh-after="initializeScoreboard" class="mt-3">
        {% include 'partials/scoreboard.html.twig' with {jury: false, public: false, current_contest: current_team_contest} %}
    </div>
{% endblock %}

{% block extrafooter %}
    <script>
        $(function () {
            window.initializeScoreboard = function () {
                var $newProgress = $('[data-ajax-refresh-target] > [data-progress-bar]');
                if ($newProgress.length) {
                    var $oldProgress = $('body > [data-progress-bar]');
                    $oldProgress.html($newProgress.children());
                    $newProgress.parent().remove();
                }
            };
        });
    </script>
{% endblock %}
