{% extends "team/base.html.twig" %}

{% block title %}
    {% if team is not empty %}{{ team.effectiveName }} - {% endif %}{{ parent() }}
{% endblock %}

{% block content %}
    {% if team is not empty %}<h1 class="mt-3">{{ team.effectiveName }}</h1>{% endif %}

    {% include 'partials/team.html.twig' %}
{% endblock %}
