{% use "form_table_layout.html.twig" %}

{%- block form_errors -%}
	{%- if errors|length > 0 -%}
		<ul class="form-error">
			{%- for error in errors -%}
				<li>{{ error.message }}</li>
			{%- endfor -%}
		</ul>
	{%- endif -%}
{%- endblock form_errors -%}
