.container-image {
    margin-bottom: 1rem;
}

.container-image > .image > img {
    max-width: 100%;
    height: auto;
}

.blog-post-thumbnail {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

@media (min-width: 768px) {
    .blog-post-thumbnail {
        width: 360px;
    }
}
