{% if ajax is defined and ajax %}
    <div class="d-none" data-new-rejudging-matrix>
        {% include '@DOMJudge/jury/partials/rejudging_matrix.html.twig' %}
    </div>
{% endif %}

{%- include '@DOMJudge/jury/partials/submission_list.html.twig' with {showContest: true} %}
