{% if clarifications is not empty or always_display %}
    <h1 class="teamoverview">Clarifications</h1>
    {% if clarifications is empty %}
        <p class="nodata">No clarifications.</p>
    {% else %}
        {% include 'team/partials/clarification_list.html.twig' with {clarifications: clarifications} %}
    {% endif %}
{% endif %}

<h1 class="teamoverview">Clarification Requests</h1>
{% if clarificationRequests is empty %}
    <p class="nodata">No clarification request.</p>
{% else %}
    {% include 'team/partials/clarification_list.html.twig' with {clarifications: clarificationRequests} %}
{% endif %}

<div class="m-1">
    <a href="{{ path('team_clarification_add') }}" class="btn btn-secondary btn-sm" data-ajax-modal data-ajax-modal-after="initModalClarificationPreviewAdd">
        Request clarification
    </a>
</div>

