<div class="container clarificationform">
    {% include 'team/partials/clarification.html.twig' with {clarification: clarification } %}
    {% for reply in clarification.replies | filter(reply => team.canViewClarification(reply)) %}
        {% include 'team/partials/clarification.html.twig' with {clarification: reply } %}
    {% endfor %}
</div>

<div class="collapse mt-3 container clarificationform" id="collapsereplyform">
    <div class="card card-body">
        {{ form_start(form) }}
        {{ form_row(form.recipient) }}
        {{ form_row(form.message) }}
        <div class="mb-3">
            <div class="flex-column">
                <label class="form-label text-muted d-flex justify-content-end"><small>message preview</small></label>
            </div>
            <div class="card">
                <div class="card-body" id="messagepreview">Start typing to see a preview of your message</div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
