<div class="row">
    <div class="col-12 col-md-6">
        <h1 class="teamoverview">Score</h1>
        {% include 'partials/scoreboard_table.html.twig' with {jury: false, public: true} %}
    </div>
    <div class="col">
        <h1 class="teamoverview">Submission</h1>
        {% include 'team/partials/submission_list.html.twig' %}
    </div>
</div>

