{% extends "@DOMJudge/jury/base.html.twig" %}

{% block title %}Print - {{ parent() }}{% endblock %}

{% block content %}

    <main role="main" class="pl-4 pt-5">
        <div class="container submitform">
            <h1 class="text-center">Print source</h1>
            {{ form(form) }}
        </div>
    </main>

{% endblock %}

{% block extrafooter %}
    {{ parent() }}
    {% include '@DOMJudge/partials/javascript_print.html.twig' %}
{% endblock %}
