{% extends "@DOMJudge/jury/base.html.twig" %}

{% block title %}Add affiliation - {{ parent() }}{% endblock %}

{% import "@DOMJudge/jury/jury_macros.twig" as macros %}
{% block extrahead %}
    {{ parent() }}
    {{ macros.select2_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Add affiliation</h1>

    {% include '@DOMJudge/jury/partials/team_affiliation_form.html.twig' %}

{% endblock %}
