{% extends "@DOMJudge/jury/base.html.twig" %}
{% import _self as self %}

{% block title %}Generate passwords - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Generate passwords</h1>

    {{ form(form) }}

{% endblock %}
