{% extends "@DOMJudge/base.html.twig" %}
{% form_theme registration_form 'bootstrap_4_layout.html.twig' %}

{% block title %}Register Account{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ asset('style_login.css') }}">
{% endblock %}

{% block body %}
    <div class="additional-logins">

        {{ form_start(registration_form, { 'attr': {'class': 'form-signin'} }) }}
        <h1 class="h3 mb-3 font-weight-normal">Register Account</h1>
        <div class="mb-2">
            Enter the following information to register your account with DOMjudge.
        </div>
        {# Form elements will be renderd automatically #}
        {{ form_end(registration_form) }}
    </div>
{% endblock %}
