{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block header %}
    {# Overwrite the logo #}
    <a id="logo" href="https://github.com/DOMjudge/domjudge" target="_blank">
        <img src="{{ asset('images/DOMjudgelogo.png') }}" alt="DOMjudge">
    </a>
{% endblock %}
