{% extends "public/base.html.twig" %}

{% block title %}Curabitur ligula sapien{% endblock %}
{% block content %}
    <h1>Curabitur ligula sapien</h1>
    <p>1. 9. 2023</p>
    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh dignissim sagittis.
        Nullam at arcu a est sollicitudin euismod. Nunc tincidunt ante vitae massa. Praesent id justo in neque elementum
        ultrices. Nam sed tellus id magna elementum tincidunt. Curabitur bibendum justo non orci. Vestibulum fermentum
        tortor id mi. Aenean vel massa quis mauris vehicula lacinia. Morbi scelerisque luctus velit. Integer lacinia.
        Suspendisse nisl. Aliquam erat volutpat.
    </p>

    <img src="{{ asset('images/DOMjudgelogo.svg') }}" width="200" alt="logo" height="">

    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh dignissim sagittis.
        Nullam at arcu a est sollicitudin euismod. Nunc tincidunt ante vitae massa. Praesent id justo in neque elementum
        ultrices. Nam sed tellus id magna elementum tincidunt. Curabitur bibendum justo non orci. Vestibulum fermentum
        tortor id mi. Aenean vel massa quis mauris vehicula lacinia. Morbi scelerisque luctus velit. Integer lacinia.
        Suspendisse nisl. Aliquam erat volutpat.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh dignissim sagittis.
        Nullam at arcu a est sollicitudin euismod. Nunc tincidunt ante vitae massa. Praesent id justo in neque elementum
        ultrices. Nam sed tellus id magna elementum tincidunt. Curabitur bibendum justo non orci. Vestibulum fermentum
        tortor id mi. Aenean vel massa quis mauris vehicula lacinia. Morbi scelerisque luctus velit. Integer lacinia.
        Suspendisse nisl. Aliquam erat volutpat.
    </p>
{% endblock %}
