{% extends "public/base.html.twig" %}

{% block title %}Začátek našeho programátorského dobrodružství!{% endblock %}
{% block content %}
    <div class="container">
        <h1>Začátek našeho programátorského dobrodružství!</h1>
        <h5 class="text-muted">Jiří Formánek</h5>
        <p>21. 9. 2023</p>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh dignissim sagittis.
            Nullam at arcu a est sollicitudin euismod. Nunc tincidunt ante vitae massa. Praesent id justo in neque
            elementum
            ultrices. Nam sed tellus id magna elementum tincidunt. Curabitur bibendum justo non orci. Vestibulum
            fermentum
            tortor id mi. Aenean vel massa quis mauris vehicula lacinia. Morbi scelerisque luctus velit. Integer
            lacinia.
            Suspendisse nisl. Aliquam erat volutpat.
        </p>

        <div class="d-flex align-items-center flex-column flex-md-row">
            <div class="flex-grow-1">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh dignissim
                    sagittis.
                    Nullam at arcu a est sollicitudin euismod. Nunc tincidunt ante vitae massa. Praesent id justo in
                    neque
                    elementum
                    ultrices. Nam sed tellus id magna elementum tincidunt. Curabitur bibendum justo non orci. Vestibulum
                    fermentum
                    tortor id mi. Aenean vel massa quis mauris vehicula lacinia. Morbi scelerisque luctus velit. Integer
                    lacinia.
                    Suspendisse nisl. Aliquam erat volutpat.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh dignissim
                    sagittis.
                    Nullam at arcu a est sollicitudin euismod. Nunc tincidunt ante vitae massa. Praesent id justo in
                    neque
                    elementum
                    ultrices. Nam sed tellus id magna elementum tincidunt. Curabitur bibendum justo non orci. Vestibulum
                    fermentum
                    tortor id mi. Aenean vel massa quis mauris vehicula lacinia. Morbi scelerisque luctus velit. Integer
                    lacinia.
                    Suspendisse nisl. Aliquam erat volutpat.
                </p>
            </div>
            <div>
                <img class="my-3 ms-3" src="{{ asset('images/placeholder.png') }}" alt="logo">
            </div>
        </div>

        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh dignissim sagittis.
            Nullam at arcu a est sollicitudin euismod. Nunc tincidunt ante vitae massa. Praesent id justo in neque
            elementum
            ultrices. Nam sed tellus id magna elementum tincidunt. Curabitur bibendum justo non orci. Vestibulum
            fermentum
            tortor id mi. Aenean vel massa quis mauris vehicula lacinia. Morbi scelerisque luctus velit. Integer
            lacinia.
            Suspendisse nisl. Aliquam erat volutpat.
        </p>

        <a href="/public/blog" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Zpět ke všem článkům</a>
    </div>
{% endblock %}
