{% extends "public/base.html.twig" %}

{% block extrahead %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/help.css") }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Nápověda</h1>
        <p>
            Na této stránce najdete informace o tom, jak se pohybovat na webu a jak soutěžit.
        </p>
        <div class="accordion">
            {% include 'public/help_section/visitors.html.twig' %}
            {% include 'public/help_section/registration.html.twig' %}
            {% include 'public/help_section/forgotten_password.html.twig' %}
            {% include 'public/help_section/problemset.html.twig' %}
            {% include 'public/help_section/submissions.html.twig' %}
            {% include 'public/help_section/technical_info.html.twig' %}
            {% include 'public/help_section/communication.html.twig' %}
            {% include 'public/help_section/todo.twig' %}
        </div>
    </div>
{% endblock %}
