{% extends "public/base.html.twig" %}

{% block title %}Korespondenční seminář{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Korespondenční seminář z programování</h1>
        <h3 class="text-center">DELTA - Střední škola informatiky a ekonomie</h3>
        <p>
            Naše interaktivní online prostředí vám umožní prozkoumat svět programování z pohodlí vašeho domova. Bez
            ohledu na to, zda jste začátečníkem nebo pokročilým programátorem, tento seminář vám poskytne přístup k
            odborným znalostem a praktickým dovednostem, které vás posunou na další úroveň.
        </p>
        <hr>

        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 mb-4">
            <div class="col mb-3 mb-xl-0">
                <div class="card h-100">
                    <h5 class="card-header">Komplexní kurikulum</h5>
                    <div class="card-body">
                        <p class="card-text">
                            Naše kurzy pokrývají širokou škálu programovacích jazyků, konceptů a technologií. Nezáleží
                            na
                            tom, jestli se chcete naučit základy nebo pokročilé techniky, u nás najdete vše.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-3 mb-xl-0">
                <div class="card h-100">
                    <h5 class="card-header">Flexibilita a individualizace</h5>
                    <div class="card-body">
                        <p class="card-text">
                            Korespondenční formát semináře vám umožní studovat ve vašem vlastním tempu. Můžete si
                            přizpůsobit časový plán a způsob učení svým potřebám. K dispozici jsou také online
                            materiály,
                            příručky a přednášky, které vám poskytnou podporu a přehled o studijním materiálu.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col mb-3 mb-xl-0">
                <div class="card h-100">
                    <h5 class="card-header">Praktické cvičení</h5>
                    <div class="card-body">
                        <p class="card-text">
                            Chceme, abyste získali nejen teoretické znalosti, ale také praktické dovednosti. Proto vám
                            nabízíme různé programovací projekty a cvičení, které vám umožní uplatnit své nově nabyté
                            znalosti a rozvíjet svou kreativitu.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col mb-3 mb-xl-0">
                <div class="card h-100">
                    <h5 class="card-header">Komunita a podpora</h5>
                    <div class="card-body">
                        <p class="card-text">
                            Kromě učebních materiálů a projektů se můžete připojit k naší aktivní komunitě programátorů.
                            Zde
                            můžete sdílet své zkušenosti, ptát se na otázky a diskutovat s ostatními účastníky. Naši
                            instruktoři jsou připraveni vám poskytnout odpovědi a radit vám na vaší programovací cestě.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex flex-column flex-lg-row">
            {% for post in blogPosts %}
                {% include 'public/partials/blog_post_on_homepage.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
