{% extends "public/base.html.twig" %}

{% block title %}Korespondenční seminář{% endblock %}
{% block content %}
    <h1>Korespondenční seminář z programování</h1>
    <h3>DELTA - Střední škola informatiky a ekonomie</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh dignissim sagittis.
        Nullam at arcu a est sollicitudin euismod. Nunc tincidunt ante vitae massa. Praesent id justo in neque elementum
        ultrices. Nam sed tellus id magna elementum tincidunt. Curabitur bibendum justo non orci. Vestibulum fermentum
        tortor id mi. Aenean vel massa quis mauris vehicula lacinia. Morbi scelerisque luctus velit. Integer lacinia.
        Suspendisse nisl. Aliquam erat volutpat.
    </p>
    <hr>

    <h2>Aktuality</h2>
    <h3>Curabitur ligula sapien</h3>
    <p>1. 9. 2023</p>
    <p>
        Maecenas lorem. Mauris metus. Aliquam erat volutpat. Nam sed tellus id magna elementum tincidunt. Pellentesque
        pretium lectus id turpis. Integer imperdiet lectus quis justo. Vestibulum erat nulla, ullamcorper nec, rutrum
        non, nonummy ac, erat. Vivamus porttitor turpis ac leo. In enim a arcu imperdiet malesuada. Integer pellentesque
        quam vel velit. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit.
    </p>
    <a href="/public/blog/1" class="btn btn-primary mb-3">Číst dál</a>

    <h3>Mauris tincidunt sem sed arcu</h3>
    <p>30. 9. 2023</p>
    <p>
        Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Vestibulum fermentum tortor id mi. Fusce
        aliquam vestibulum ipsum. Mauris tincidunt sem sed arcu. Nunc auctor. Nullam at arcu a est sollicitudin euismod.
        Ut tempus purus at lorem. In dapibus augue non sapien. Suspendisse sagittis ultrices augue. Aliquam erat
        volutpat. Suspendisse nisl. Donec iaculis gravida nulla. Duis ante orci, molestie vitae vehicula venenatis,
        tincidunt ac pede. Nulla non arcu lacinia neque faucibus fringilla. Fusce suscipit libero eget elit. Fusce dui
        leo, imperdiet in, aliquam sit amet, feugiat eu, orci.
    </p>
    <a href="blog/1" class="btn btn-primary mb-3">Číst dál</a>

    <h3>Curabitur ligula sapien, pulvinar a vestibulum</h3>
    <p>4. 10. 2023</p>
    <p>
        Nunc dapibus tortor vel mi dapibus sollicitudin. Aliquam in lorem sit amet leo accumsan lacinia. Nunc auctor.
        Fusce aliquam vestibulum ipsum. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien.
        Praesent in mauris eu tortor porttitor accumsan. Vivamus porttitor turpis ac leo. Vivamus ac leo pretium
        faucibus. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris
        vel metus. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui.
    </p>
    <a href="blog/1" class="btn btn-primary mb-3">Číst dál</a>

    <h3>Fusce tellus. Pellentesque ipsum.</h3>
    <p>15. 10. 2023</p>
    <p>
        Integer imperdiet lectus quis justo. Integer in sapien. Integer tempor. Fusce tellus odio, dapibus id fermentum
        quis, suscipit id erat. Mauris metus. Nullam sit amet magna in magna gravida vehicula. In rutrum. Cras
        elementum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce suscipit
        libero eget elit. Fusce tellus. Pellentesque ipsum. Nullam faucibus mi quis velit. Nulla turpis magna, cursus
        sit amet, suscipit a, interdum id, felis. Nam sed tellus id magna elementum tincidunt.
    </p>
    <a href="blog/1" class="btn btn-primary mb-3">Číst dál</a>
{% endblock %}
