{% extends "public/base.html.twig" %}

{% block title %}Scoreboard {{ contest.shortname | default('') }} - {{ parent() }}{% endblock %}
{% block content %}
    {% if contest is defined %}
        {% set contestId = contest.cid %}
        {% if showExternalId(contest) %}
            {% set contestId = contest.externalid %}
        {% endif %}
        {% set bannerImage = contestId | assetPath('contest') %}
    {% endif %}
    {% if bannerImage is not defined or not bannerImage %}
        {% set bannerImage = globalBannerAssetPath() %}
    {% endif %}
    {% if bannerImage %}
        <img class="banner" src="{{ asset(bannerImage) }}" alt="Banner">
    {% endif %}

    <div data-ajax-refresh-target data-ajax-refresh-after="initializeScoreboard" class="mt-3">
        {% include 'partials/scoreboard.html.twig' with {jury: false, public: true} %}
    </div>
{% endblock %}

{% block extrafooter %}
    <script>
        initFavouriteTeams();
        pinScoreheader();

        var scoreboardUrl = '{{ refresh.url ?? null }}';

        $(function () {
            window.initializeScoreboard = function () {
                var $newProgress = $('[data-ajax-refresh-target] > .d-none > [data-progress-bar]');
                if ($newProgress.length) {
                    var $oldProgress = $('body > [data-progress-bar]');
                    $oldProgress.html($newProgress.children());
                    $newProgress.parent().remove();
                }

                initFavouriteTeams();
                pinScoreheader();
            };
        });
    </script>
{% endblock %}
