{% extends "partials/modal.html.twig" %}

{% block title %}
    Submissions for team
    <span data-team></span>
    on problem
    <span data-problem-badge></span>
    <span data-problem-name></span>
{% endblock %}

{% block content %}
    <div class="submissions-loading">
        <div class="spinner-border" role="status"></div>
        <span class="sr-only">Loading...</span>
    </div>
{% endblock %}
