parameters:
    level: 6
    paths:
        - src
        - migrations
        - resources/functions.php
        - rector.php
        - tests
    scanFiles:
        - vendor/vrana/adminer/adminer/include/functions.inc.php
    scanDirectories:
        - vendor/vrana/adminer/adminer/include
    ignoreErrors:
        -
            message: '#Method .* return type has no value type specified in iterable type array#'
            path: tests
        -
            message: '#Method .* has parameter .* with no value type specified in iterable type array#'
            path: tests
        -
            message: '#Property .* type has no value type specified in iterable type array#'
            path: tests
        -
            message: '#PHPDoc tag @var for variable .* has no value type specified in iterable type array#'
            path: tests
        -
            message: "#Method .* return type has no value type specified in iterable type array#"
            path: src/DataFixtures/Test
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
