<div class="btn-group btn-group-sm mb-3" role="group">
    <span class="input-group-text listtoggles">Filter:</span>
    {%- for key, label in filters %}
        <input type="radio" class="btn-check"
            name="viewtype" value="{{ key }}" id="viewtype{{ key }}"
            {% if key == view %}checked{% endif %}>
        <label class="btn btn-secondary" for="viewtype{{ key }}">{{ label }}</label>
    {%- endfor %}
</div>

<script>
    $(function () {
        $('input[name=viewtype]').on('change', function () {
            window.location = '?view=' + $(this).val();
        });
    });
</script>
