<form action="{{ path('jury_contest_toggle', {'contestId': contest.externalid, 'type': type}) }}" method="post" class="d-inline">
    <input type="checkbox" data-toggle="toggle" data-size="mini" data-on="Yes" data-off="No"
           name="value" {% if enabled %}checked{% endif %}>
</form>
