<form action="{{ path('jury_problem_toggle', {contestId: contestProblem.cid, probId: contestProblem.probId, 'type': type}) }}" method="post" class="d-inline">
    <input type="checkbox" data-toggle="toggle" data-size="mini" data-on="Yes" data-off="No"
           name="value" {% if enabled %}checked{% endif %}>
</form>
