{% if scoreboard is defined and scoreboard is not null %}
    <h2 class="mt-2">Score</h2>

    {% include 'partials/scoreboard_table.html.twig' with {displayRank: true, jury: true} %}
{% endif %}

<h2 class="mt-2">
    Submissions
    {% if restrictionText %}
    <small class="text-muted">
        restricted to {{ restrictionText }} (<a href="{{ path('jury_team', {'teamId': team.teamid}) }}">show all</a>)
    </small>
    {% endif %}
</h2>
{%- include 'jury/partials/submission_list.html.twig' with {showTestcases: false} %}
