name: Check autoconf
on:
  merge_group:
  pull_request:
    branches:
      - main
      - '[0-9]+.[0-9]+'

jobs:
  debian-family:
    strategy:
      matrix:
        version: [noble, rolling]
        os: [ubuntu]
        releaseBranch:
          - ${{ contains(github.ref, 'gh-readonly-queue') }}
        exclude:
          - releaseBranch: false
        include:
          - os: debian
            version: stable
          - os: debian
            version: testing
    runs-on: ubuntu-latest
    env:
      DEBIAN_FRONTEND: noninteractive
      TZ: Etc/UTC
    container:
      image: ${{ matrix.os }}:${{ matrix.version }}
    steps:
      - name: Install git so we get the .github directory
        run: apt-get update; apt-get install -y git
      - uses: actions/checkout@v4
      - name: Setup image and run bats tests
        run: .github/jobs/configure-checks/setup_configure_image.sh
      - name: Upload all logs/artifacts
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-${{ matrix.version }}-logs
          path: |
            /tmp/bats_logs
