name: Chroot checks
on:
  merge_group:
  pull_request:
    branches:
      - main
      - '[0-9]+.[0-9]+'

jobs:
  check-chroot-arch:
    runs-on: ubuntu-24.04
    container:
      image: domjudge/gitlabci:24.04
      options: --privileged --cgroupns=host --init
    strategy:
      matrix:
        arch: [amd64, default]
    steps:
      - name: Checkout current code
        uses: actions/checkout@v4
      - name: Install DOMjudge
        run: |
          .github/jobs/chroot_checks.sh ${{ matrix.arch }}
      - name: Upload all logs/artifacts
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.arch }}-logs
          path: |
            /tmp/artifacts
