name: Codestandard
on:
  merge_group:
  pull_request:
    branches:
      - main
      - '[0-9]+.[0-9]+'

jobs:
  syntax-job:
    runs-on: ubuntu-latest
    container:
      image: domjudge/gitlabci:24.04
    steps:
      - uses: actions/checkout@v4
      - name: Run the syntax checks
        run: .github/jobs/syntax.sh

  detect-dump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Search for leftover dump( statements"
        run: .github/jobs/detect_dump.sh

  php-linter:
    runs-on: ubuntu-latest
    container:
      image: pipelinecomponents/php-linter:latest
    steps:
      - uses: actions/checkout@v4
      - name: Detect PHP linting issues
        run: >
          parallel-lint --colors
          lib/lib.*.php
          etc
          judge
          webapp/src
          webapp/tests
          webapp/public
          webapp/config

  phpcs_compatibility:
    runs-on: ubuntu-latest
    container:
      image: domjudge/gitlabci:24.04
    strategy:
      matrix:
        PHPVERSION: ["8.2", "8.5"]
    steps:
      - uses: actions/checkout@v4
      - name: Detect compatibility with supported PHP version
        run: >
          /vendor/bin/phpcs -s -p --colors
          --standard=PHPCompatibility
          --extensions=php
          --runtime-set testVersion ${{ matrix.PHPVERSION }}
          lib/lib.*.php
          etc
          judge
          webapp/src
          webapp/tests
          webapp/public
          webapp/config

  pycodestyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download pycodestyle python file
        run: >
          curl -L -o /tmp/pycodestyle.py 'https://github.com/PyCQA/pycodestyle/raw/refs/tags/2.12.1/pycodestyle.py'
      - name: Check codestyle in python files
        run: >
          python3 /tmp/pycodestyle.py \
            --exclude='./example_problems/,./example_scoring_problems/,./doc/,./gitlab/,./webapp/vendor/' \
            --max-line-length 120 \
            --show-pep8 --show-source \
            .

  pyright:
    runs-on: ubuntu-latest
    steps:
    - uses: jakebailey/pyright-action@v2
      with:
        version: 1.1.311
