name: Run compare.cc tests
on:
  merge_group:
  pull_request:
    branches:
      - main
      - '[0-9]+.[0-9]+'

jobs:
  compare:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    container:
      image: domjudge/gitlabci:24.04
      options: --privileged --cgroupns=host --init
    steps:
      - uses: actions/checkout@v4
      - name: Run the actual compare.cc tests
        working-directory: misc-tests
        run: ./test_compare.sh
