name: PHP CodeSniffer
on: 
  merge_group:
  pull_request:
    branches:
      - main
      - '[0-9]+.[0-9]+'
jobs:
  phpcs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # important!
      - name: Install PHP_CodeSniffer
        run: |
          curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
          php phpcs.phar --version

      - uses: domjudge/action-php-codesniffer@master
        with:
          files: "**.php" # you may customize glob as needed
          scope: files
          phpcs_path: php phpcs.phar
          standard: .github/jobs/data/phpruleset.xml
          fail_on_errors: false
          fail_on_warnings: false
