name: Run PHPStan
on:
  merge_group:
  pull_request:
    branches:
      - main
      - '[0-9]+.[0-9]+'

jobs:
  phpstan:
    runs-on: ubuntu-latest
    container:
      image: domjudge/gitlabci:24.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup composer dependencies
        run: .github/jobs/composer_setup.sh
      - name: Show the phpstan version
        run: webapp/vendor/phpstan/phpstan/phpstan --version
      - name: Do basic installation
        run: |
          make configure
          ./configure --with-domjudge-user=root
          make judgehost domserver
      - name: Run PHPStan in the classic way
        shell: bash
        run: |
          set -euo pipefail
          webapp/vendor/bin/phpstan \
            --configuration=phpstan.dist.neon \
            --error-format=github \
          | tee /tmp/artifacts/phpstan.out
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          path: /tmp/artifacts
