name: Run PHPStan
on:
  push:
    branches:
      - main
      - '[0-9]+.[0-9]+'
  pull_request:
    branches:
      - main
      - '[0-9]+.[0-9]+'

jobs:
  phpstan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup composer dependencies
        run: .github/jobs/composer_setup.sh
      - uses: php-actions/phpstan@v3
        with:
          configuration: webapp/phpstan.dist.neon
          path: webapp/src webapp/tests
          php_extensions: gd intl mysqli pcntl zip
          autoload_file: webapp/vendor/autoload.php
          version: composer
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          path: /tmp/artifacts
