name: Publish unit test results
on:
  workflow_run:
    workflows: ["Unit tests"]
    types:
      - completed
    permissions: {}

jobs:
  test-results:
    name: Process test results
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion != 'skipped'
    permissions:
      # required by download step to access artifacts API
      actions: read
      # write the actual check-run
      checks: write
      # needed unless run with comment_mode: off
      pull-requests: write
    steps:
      - name: Download and Extract Artifacts
        uses: dawidd6/action-download-artifact@e7466d1a7587ed14867642c2ca74b5bcc1e19a2d
        with:
          run_id: ${{ github.event.workflow_run.id }}
          path: artifacts
      #- name: Publish Test Results
      #  uses: EnricoMi/publish-unit-test-result-action@v2
      #  with:
      #    commit: ${{ github.event.workflow_run.head_sha }}
      #    event_file: artifacts/Event File/event.json
      #    event_name: ${{ github.event.workflow_run.event }}
      #    files: "tmp/artifacts/**/*.xml"
