name: Webstandard (WCAG, W3C)
on:
  merge_group:
  pull_request:
    branches:
      - main
      - '[0-9]+.[0-9]+'

jobs:
  standards:
    runs-on: ubuntu-latest
    env:
      ADMIN_PASSWORD: admin_password
      MYSQL_ROOT_PASSWORD: mysql_root_password
    container:
      image: domjudge/gitlabci:24.04
    services:
      sqlserver:
        image: mariadb
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: ${{ env.MYSQL_ROOT_PASSWORD }}
        options: --health-cmd="healthcheck.sh --connect --innodb_initialized" --health-interval=10s --health-timeout=5s --health-retries=3
    strategy:
      matrix:
        role: [team, balloon, jury, admin]
        test: [w3cval]
        db: [bare-install, install]
        #releaseBranch:
        #  - ${{ contains(github.ref, 'gh-readonly-queue') }}
        #exclude:
        #  - releaseBranch: false
        #  - role: jury
        #    test: WCAG2AA
        #  - role: jury
        #    test: WCAG2A
        #  - role: admin
        #    test: WCAG2AA
        #  - role: admin
        #    test: WCAG2A
        #include:
        #  - role: public
        #    test: WCAG2AA
        #    db: install
        #  - role: public
        #    test: w3cval
        #    db: install
        #  - role: admin
        #    test: w3cval
        #    db: install
    steps:
      - uses: actions/checkout@v4
      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: webapp/node_modules
          key: npm-${{ hashFiles('webapp/package-lock.json') }}
          restore-keys: |
            npm-
      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: webapp/vendor
          key: composer-${{ hashFiles('webapp/composer.lock') }}
          restore-keys: |
            composer-
      - name: Install DOMjudge
        run: .github/jobs/baseinstall.sh ${{ matrix.role }}
      - name: Run webstandard tests (W3C, WCAG)
        run: .github/jobs/webstandard.sh ${{ matrix.test }} ${{ matrix.role }}
      - name: Upload all logs/artifacts
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.role }}-${{ matrix.test }}-${{ matrix.db }}-logs
          path: |
            /tmp/artifacts
            /var/log/nginx
            /opt/domjudge/domserver/webapp/var/log/*.log
